{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Carbon Credits{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Carbon Emission and Credit Calculation</h1>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'add_mine' %}">Add Coal Mine</a></li>
                <li><a href="{% url 'add_tree' %}">Add Tree</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Carbon Emission Project</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</body>
</html>
