{% extends "app/base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock title %}

{% block main-content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Contact Us</h2>
    
    <div class="row mb-5">
        <div class="col-md-6">
            <h4>Our Office</h4>
            <p>
                <strong>Head Office:</strong> Butwal City, Lumbini State, Nepal<br>
                <strong>Phone:</strong> +977-123456789<br>
                <strong>Email:</strong> info@neel.com<br>
                <strong>Office Hours:</strong> Monday - Friday, 9 AM - 5 PM
            </p>
            <h4>Follow us for more...</h4>
        
        </div>

        
    </div>
</div>

{% endblock main-content %}
