{% extends 'base.html' %}
{% load static%}
{% block content %}
<html lang="en">
     {% include "include/base/header.html" %}
     {% include "include/base/consumer-slider.html" %}
     {% include "include/base/introduction.html" %}
     {% include "include/base/feature.html" %}
     {% include "include/base/details1.html" %}
     {% include "include/base/details-lightbox.html" %}
     {% include "include/base/details2.html" %}
     {% include "include/base/details3.html" %}
     {% include "include/base/testimonials.html" %}
     {% include "include/base/newsletter.html" %}
     {% include "include/base/footer.html" %}
     {% include "include/base/copyright.html" %}
     {% include "include/base/scripts.html" %}
</html>
        
{% endblock content%}