{% extends 'base.html' %}
{% load static%}
{% block content %}
     {% include "include/base/header.html" %}
     {% include "include/base/consumer-slider.html" %}
     {% include "include/base/joblist.html" %}
     {% include "include/base/internshiplist.html" %}


     {% comment %} {% include "include/base/feature.html" %} {% endcomment %}
     {% include "include/base/testimonials.html" %}
     {% include "include/base/newsletter.html" %}
     
     {% include "include/base/footer.html" %}
     {% include "include/base/copyright.html" %}
     {% include "include/base/scripts.html" %}    
{% endblock content%}