 <!-- Details 2 -->
{% load static %}
 <div class="basic-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Step 2</div>
                    <h2>Diam ut venenatis tellus</h2>
                    <p>Volutpat diam ut venenatis tellus. Faucibus pulvinar elementum integer enim neque. Rhoncus urna neque viverra justo nec ultrices dui malesuada pellen tesque</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Massa ultricies mi quis hendrerit dolor condimtis</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Pellentesque id nibh tortor id aliquet deriva</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Ectus proin molestie a iaculis at erat pellent</div>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src= "{% static 'images/details-2.png' %}" alt="alterna">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-3 -->
<!-- end of details 2 -->