<!-- Details 3 -->
<div class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="images/details-3.png" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Step 3</div>
                    <h2>This is a Detailed 3 </h2>
                    <p>Elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Neque gravida in fermentum et sollicitudin ac nterdum consectetur libero</p>
                    <a class="btn-solid-reg" href="sign-up.html">Sign up now</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-4 -->
<!-- end of details 3 -->