{% load static%}
<!-- Details 1 -->
<div id="details" class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="intro">
                    <h2>Diam vel quam elementum pulvinar etiam non quam. Elementum facilisis leo velfri</h2>
                    <p>Eu ultrices vitae auctor eu augue ut lectus. A erat nam at lectus. Metus aliquam eleifend mi in. Tempus egestas sed sed risus pretium quam vulputate. Sed tempus urna et pharetra pharetra massa massa ultricies mi. Lorem sed risus ultricies tristique</p>
                </div> <!-- end of intro -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/details-1.png' %}" alt="alternat">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">Step 1</div>
                    <h2>Aliquet enim tortor atel</h2>
                    <p>Dignissim cras tincidunt lobortis feugiat. Aliquam id diam maecenas ultricies mi eget mauris pharetra. Morbi blandit cursus risus at nibh nisl condimentum</p>
                    <a class="btn-solid-reg popup-with-move-anim" href="#details-lightbox">Lightbox</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 1 -->