{% load static%}
        <!-- Features -->
        <div id="features" class="cards-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="h2-heading">Mi proin sed libero enim</h2>
                        <p class="p-heading">Felis donec et odio pellentesque. Nisl nisi scelerisque eu ultrices. Diam maecenas ultricies mi eget mauris pharetra etra laroeet </p>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
                <div class="row">
                    <div class="col-lg-12">
                        
                        <!-- Card -->
                        <div class="card">
                            <div class="card-icon-wrapper">
                                <div class="card-icon">
                                    <span class="fas fa-headphones-alt green"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">This is a favourite of Mine</h4>
                                <p>Nisl purus in mollis nunc sed id uta liquam purus sit amet luctus venena tis justo donec enim diam lorem</p>
                                <a class="read-more no-line" href={% static "article.html" %}>Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-icon-wrapper">
                                <div class="card-icon">
                                    <span class="fas fa-headphones-alt green"></span>
                                </div>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">This is a favourite of Mine</h4>
                                <p>Nisl purus in mollis nunc sed id uta liquam purus sit amet luctus venena tis justo donec enim diam lorem</p>
                                <a class="read-more no-line" href={% static "article.html" %}>Learn more <span class="fas fa-long-arrow-alt-right"></span></a>
                            </div>
                        </div>
                        <!-- end of card -->

                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of cards-1 -->
        <!-- end of features -->