{% load static %}
<header id="header" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <h1 class="h1-large">Welcome to our jobsite</h1>
                    <p class="p-large">We are specilaized in serving you the best job in today's competetive world with oppurtunities world wide </p>
                    <a class="btn-solid-lg" href="/signup">Sign up for free</a>
                    <a class="btn-outline-lg page-scroll" href="#intro">Discover</a>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="{% static 'images/header.png' %}" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</header> <!-- end of header -->
<!-- end of header -->