{% load static%}        
        <!-- Introduction -->
        <div id="intro" class="basic-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <img class="img-fluid" src="{% static 'images/introduction.jpg' %}"alt="alternative">
                    </div> <!-- end of col -->
                    <div class="col-lg-5">
                        <div class="text-container">
                            <h2>Adipiscing elit duis tristi quesolli citudin nibro</h2>
                            <p>In nulla posuere sollicitudin aliquam ultrices sagittis. Id fauc ibus nisl tincidunt eget nullam non nisi. Cursus in hac habi tasse platea dictumst quisque sagittis purus. Mi proin se dlibero enim sed. Consectetur adipiscing elit sena</p>
                            <a class="btn-solid-reg" href="/signup">Sign up</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of basic-1 -->
        <!-- end of introduction -->