<!-- Testimonials -->
<div class="slider-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">Tellus molestie nunc nonbl</h2>
                <p class="p-heading">Eget egestas purus viverra accumsan in nisl nisi. Ut venenatis tellus in metus vulputate. Vitae auctor eu augue ut lectus arcu bibendum</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card Slider -->
                <div class="slider-container">
                    <div class="swiper-container card-slider">
                        <div class="swiper-wrapper">
                            
                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="testimonial-text">Orci porta non pulvinar neque laoreet suspendi sseport titor leo a diam sollicitudin tempor id eu. Utre tellus elementum sagittis vitae et leo duis utr evnireva silacus sed viverra tellus in domo revis</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="images/testimonial-1.jpg" alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Lorem Ipsum</div>
                                                <div class="occupation">Job Title - Company</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of details -->
                                    </div>
                                </div> 
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="testimonial-text">Orci porta non pulvinar neque laoreet suspendi sseport titor leo a diam sollicitudin tempor id eu. Utre tellus elementum sagittis vitae et leo duis utr evnireva silacus sed viverra tellus in domo revis</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="images/testimonial-2.jpg" alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Lorem Ipsum</div>
                                                <div class="occupation">Job Title - Company</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of details -->
                                    </div>
                                </div> 
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="testimonial-text">Orci porta non pulvinar neque laoreet suspendi sseport titor leo a diam sollicitudin tempor id eu. Utre tellus elementum sagittis vitae et leo duis utr evnireva silacus sed viverra tellus in domo revis</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="images/testimonial-3.jpg" alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Lorem Ipsum</div>
                                                <div class="occupation">Job Title - Company</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of details -->
                                    </div>
                                </div> 
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="testimonial-text">Orci porta non pulvinar neque laoreet suspendi sseport titor leo a diam sollicitudin tempor id eu. Utre tellus elementum sagittis vitae et leo duis utr evnireva silacus sed viverra tellus in domo revis</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="images/testimonial-4.jpg" alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Lorem Ipsum</div>
                                                <div class="occupation">Job Title - Company</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of details -->
                                    </div>
                                </div> 
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="testimonial-text">Orci porta non pulvinar neque laoreet suspendi sseport titor leo a diam sollicitudin tempor id eu. Utre tellus elementum sagittis vitae et leo duis utr evnireva silacus sed viverra tellus in domo revis</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="images/testimonial-5.jpg" alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Lorem Ipsum</div>
                                                <div class="occupation">Job Title - Company</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of details -->
                                    </div>
                                </div> 
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->

                            <!-- Slide -->
                            <div class="swiper-slide">
                                <div class="card">
                                    <div class="card-body">
                                        <p class="testimonial-text">Orci porta non pulvinar neque laoreet suspendi sseport titor leo a diam sollicitudin tempor id eu. Utre tellus elementum sagittis vitae et leo duis utr evnireva silacus sed viverra tellus in domo revis</p>
                                        <div class="details">
                                            <img class="testimonial-image" src="images/testimonial-6.jpg" alt="alternative">
                                            <div class="text">
                                                <div class="testimonial-author">Lorem Ipsum</div>
                                                <div class="occupation">Job Title - Company</div>
                                            </div> <!-- end of text -->
                                        </div> <!-- end of details -->
                                    </div>
                                </div> 
                            </div> <!-- end of swiper-slide -->
                            <!-- end of slide -->
    
                        </div> <!-- end of swiper-wrapper -->
    
                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <!-- end of add arrows -->
    
                    </div> <!-- end of swiper-container -->
                </div> <!-- end of slider-container -->
                <!-- end of card slider -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of slider-2 -->
<!-- end of testimonials -->